.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form1 {
  padding-left: 600px;
  padding-right: 600px;
}
.input-group.md-form.form-sm.form-2.pl-0 {
  margin-left: 400px;
  width: 700px;
}
img {
  width:200px;
}
h2 {
  margin-left: -1090px;
}
h5 {
  margin-left: -1210px;
}
img.rounded-circle {
  width: 80px;
  height: 70px;
  margin-left: -520px;
}
.col.author {
  margin-left: -1700px;
}
.col.combine {
  margin-left: -400px;
}